/* เลื่อนจุดบอกหน้าให้อยู่ใต้รูป */
.mySwiper {
  position: relative;
  padding-bottom: 40px;
  /* ระยะห่างระหว่างรูปกับจุดบอกหน้า */
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.swiper-pagination-bullet {
  background-color: #000000;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #383838;
}


